<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="logfile" xsi:type="File"
       layout="${longdate}&#009;${pad:padCharacter= :padding=-6:inner=${processid}}&#009;${pad:padCharacter= :padding=-6:inner=${threadid}}&#009;${level}&#009;${pad:padCharacter= :padding=-32:inner=${logger:shortName=true}}&#009;${message}&#009;${exception:format=tostring}"
       fileName="${basedir}/logs/${processname}.log"
       archiveFileName="${basedir}/logs/archives/${processname}{##}.log"
       archiveEvery="Hour"
       archiveNumbering="Sequence"
       maxArchiveFiles="100"
       concurrentWrites="false"
       keepFileOpen="false"
       encoding="iso-8859-2">
    </target>
    <target name="console" xsi:type="ColoredConsole" layout="${longdate}&#009;${level}&#009;${pad:padCharacter= :padding=-32:inner=${logger:shortName=true}}&#009;${message}&#009;${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>